.contract-color{
	background-color:#F5F5F5;
}

.project-color{
	background-color: #F5F5F5;
}


.project1-color{
	background-color: #F5F5F5;
}


.last-part{
	margin-bottom: 5em;
	background-color: #F5F5F5;
	font-size: 16px;
}

.pColor{
	background-color: #F5F5F5;
	font-size: 16px;
}
}